.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.button {
  height: 30px;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px;
  border: 2px solid #ff0b37;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 15px;
}
